# HOWTO: https://pre-commit.com/#usage
# pip3 install pre-commit
# pre-commit install -t pre-commit -t pre-push

repos:
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        language_version: python3.6
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        exclude: tests_requre/openshift_integration/test_data/*
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.2
    hooks:
      - id: flake8
        args:
          - --max-line-length=100
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v0.781
  #   hooks:
  #     - id: mypy
  #       args: [--no-strict-optional, --ignore-missing-imports]
  #       additional_dependencies: ["sqlalchemy-stubs"]
  - repo: https://github.com/packit/pre-commit-hooks
    rev: 3bf9afc5ede12a4ee26e9451f306edf255749396
    hooks:
      - id: check-rebase
        args:
          - https://github.com/packit/tokman.git
        stages: [manual, push]
