SQLALCHEMY_DATABASE_URI = "sqlite:////tmp/access_tokens.db"
SQLALCHEMY_TRACK_MODIFICATIONS = False
GITHUB_APP_ID = 9999
GITHUB_APP_PRIVATE_KEY = "/secrets/private-key.pem"
# How many seconds before expiration should tokens be renewed?
TOKEN_RENEW_AT = 60
